 <!doctype html>
 <!-- 
#b2d237 yellow green
#333333 Black
#595959 faded black
    font-family: proxima_novalight;
    color: #2f2f35;
    https://www.spinxdigital.com/ ideas
-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ASK & SOLVE</title>
      <style type="text/css">
html {
  scroll-behavior: smooth;
}

    	body{
    		background-color: white;
            	}
ul {
  list-style-type: none;
}
.tag-image{
  width: 200px;
  height: 200px;
  max-width: auto;
  max-height: auto;
  }
  #link{
  color:white;
  }
  #link:hover{
  color: #b2d237;
  background-color: #595959;
  transition: 1s;
  }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2f2f2;
}
.centered:hover{
transition:1s;
color: #b2d237;
}
#tag{
background-color: #b2d237;
}
card:hover{
box-shadow : 5px 5px 4 px #333333;
transition: 1s;
}
#contact{
background-color: #333333;
}
.loader {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #595959;
  border-radius: 50%;
  border-top: 16px solid #b2d237;
  border-bottom: 16px solid #b2d237;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


    </style>
  <script>
  function loader(){
  document.getElementById("main").style.display = "block";
   document.getElementById("load").style.display = "none";
  }
  </script>
  </head>

  <body onload="loader()">
  <div id="load" style="position:fixed;background-color:#333333;width:100%;height:100%">
 <div class="loader"></div>
</div>
  </div>

  
  <div id="main" style="display:none;">
  <div class="container-fluid" style="background-color: #333333;">
   <nav class="sticky-top" style="background-color: #333333;"> 
    <div class="container">
    <ul class="nav justify-content-center ">
  <li class="nav-item">
    <a class="nav-link " style="font-size:20px;  font-style: oblique;" href="#post_question" id="link">Post Question</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " style="font-size:20px;  font-style: oblique;" href="#" id="link">My Questions</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " style="font-size:20px;  font-style: oblique;" href="#" id="link">Live Chat</a>
  </li>
</ul>
</div>
   </nav>



</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
